<div class="col-lg-12 col-md-12 col-sm-12 ">
  <div class="box">
    <form action="">
      <div class="form-inline row" style="margin: 10px;" [formGroup]="claimEsnForm">
        <div class="form-group col-md-6">
          <label class="align" for="Device">Select Device:</label>&nbsp;&nbsp;
          <select name="deviceSelected" class="align form-control col-md-9" formControlName="device">
            <option value="Iphone 6 64GB Gold">Iphone 6 64GB Gold</option>
            <option value="Iphone 10 128GB RoseGold">Iphone 10 128GB RoseGold</option>
            <option value="Iphone 8 128GB Silver">Iphone 8 128GB Silver</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label class="align" for="ESN">Number of ESN:</label>&nbsp;&nbsp;
          <select class="form-control col-md-6" name="noOfEsns" formControlName="numberOfEsns">
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
          </select>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-block btn-primary float-right" (click)="claimEsn()">Claim ESN</button>
        </div>
      </div>
    </form>
  </div>

</div>