<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <form #signupForm="ngForm" (ngSubmit)="registration(email.value,password.value)">
    <div class="form-group">

      <label for="userName">User Name</label>
      <input ngModel placeholder="Username should be 5-10 characters" id="userName" type="text" class="form-control" name="userName"
        required minlength="5" maxlength="10" #username="ngModel">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input ngModel placeholder="Password 8-12 characters" id="password" type="password" class="form-control" name="password"
        required minlength="8" maxlength="12" #password="ngModel">
    </div>

    <div class="form-group">
      <label for="cpassword">Confirm Password</label>
      <input ngModel placeholder="Confirm password same as above" id="cpassword" type="password" class="form-control" name="cpassword"
        required validateEqual="password" #cpassword="ngModel">

    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input ngModel placeholder="Email eg. abc@xyz.com" id="email" type="text" class="form-control" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        #email="ngModel">

    </div>

    <div class="form-group">
      <label for="admincheck">Is Admin</label>
      &nbsp;
      <input type="checkbox">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Add User</button>&nbsp;
    <button type="reset" class="btn btn-primary">Clear</button>
    <div class="float-right">
        Already a user? <a class="col-sm-4" routerLink="/login">Login</a>
    </div>
  </form>
  <br>
</div>